*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('Images/2.jpg') no-repeat; 
    background-size: cover;
    background-position: center; 
}
.wrapper{
    width: 600px;
    background: transparent;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid rgba(255, 255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.wrapper h2{
    text-align: center;
    font-size: 26px;
}
.wrapper .contact-form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
    background: transparent;
    border-radius: 10px;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255,255,.2);
    border-radius: 6px;
    color: #333;
    color: #fff;
    padding: 10px 20px;
}
.contact-form .input-box{
    position: relative;
    width: 100%;
    height: 30px;
    margin: 10px 0;
    background: transparent; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: none;
    outline: none;
    /* border: 2px solid rgba(255, 255,255,.2); */
    border-radius: 6px;
    color: #333;
    color: #fff;
}
.input-box input{
    width: 30%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255,255,.2);
    border-radius: 6px;
    /* color: #fff; */
   font-size: 14px;
   /* text-align: center; */
   justify-content: space-between;
}
#name{
    margin-left: 35px;
}
.input-box label{
    font-size: 16px;
    margin-left: 5px;
}
.input-box ::placeholder{
    font-size: 12px;
    /* text-align: center; */
    /* margin-left: 5px; */
}

.field-box{
    margin: 10px 0;
    height: 58px;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255,255,.2);
    border-radius: 6px;
    color: #fff;
}
.field-box legend{
    text-align: left;
    margin-left: 23px;
    color: #fff;
}
.field-box input{
    accent-color: rgb(39, 39, 39);
}

.wrapper .subscribe{
    text-align: left;
    margin: 10px 0;
}
.subscribe input{
    accent-color: #fff;
    margin-left: 5px;
}
.subscribe label{
    accent-color: #fff;
    margin-left: 5px;
}
.country{
    text-align: left;
    margin: 10px 0;
}
.country select{
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255,255,.2);
    border-radius: 6px;
    color: #333;
}
.country label{
    margin-left: 5px;
    accent-color: #fff;
    font-size: 16px;
}
.bio{
    text-align: left;
    margin: 10px 0;
}

.bio label{
    margin-left: 5px;
}
.bio textarea{
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255,255,.2);
    border-radius: 6px;
    color: #333;
    width: 80%;
    height: 150px;
    resize: none;
    margin-left: 10%;
    margin-top: 10px;

}
.file{
    text-align: left;
    margin-left: 5px;
}
.file input{
    margin-top: 10px;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255,255,.2);
    border-radius: 6px;
    /* color: #333; */
    width: 35%;
}
.dob{
    text-align: left;
    margin: 10px 0;
    margin-left: 5px;
}
.dob input{
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255,255,.2);
    border-radius: 6px;
    color: #333;
    width: 120px;

}
.appointment {
    text-align: left;
    margin: 10px 0;
    margin-left: 5px;
}
.appointment input{
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255,255,.2);
    border-radius: 6px;
    color: #333;
    /* height: 25px; */
    width: 120px;
}
.volume{
    text-align: left;
    margin: 10px 0;
    margin-left: 5px;
}
.volume input{
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255,255,.2);
    border-radius: 6px;
    color: #333;
    accent-color: #fff;
    margin-left: 5px;
    width: 120px;
}
.color{
    text-align: left;
    margin: 10px 0;
    margin-left: 5px;
}
.color input{
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255,255,.2);
    border-radius: 6px;
    color: #333;
    width: 120px;
}
.btn{
    width: 40%;
    height: 40px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    color: #333;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    margin: 10px;
    transition: .5s ease;
}
.btn:hover{
    background: transparent;
    color: #fff;
    border: 2px solid rgba(255, 255,255,.2);
    /* font-size: 17px; */
}
